.error{
    border-color: red;
}

body{
    background-color: darkred;
}

table{
    width: 70%;
}

#tablaUsuarios{ 
    background-color: black;
    color: white;
    text-align: center;
    border-width: 5px;
    border-color: darkred;
    margin: 10px;
    
      line-height: 30px;
      width: 650px;
      border-width: 500px;
   
}


#btnEnviar, #btnGuardar,#btnBorrar,#btnModificar{
    width: 120px;
	height:25px;
	border-radius: 5px;
    background-color: lightseagreen;
    color: white;
   	
}

h1{
    color:red;
}


#ingreso{ 
    background-color: darkred;
    color:white;
    width: 70%;
    border: 6px;
    border-color: white;
   
}
