*{
    box-sizing: border-box;
    /*Lo que estoy diciendo es que el borde es el borde de la caja*/
}

nav{
    background-color:darkred;
    color: white;
    height: 30px;
}

ul li{
        display: inline-block;
        background-color: darkred;
}
a:link , a:visited{
      color: white;
      text-decoration: none;
      text-align: center;
      align-self: center;
      padding:  14px 25px;
}
ul li a:hover{
      background-color:white;
      color: darkred;
      

     
    
}
#cuerpo{
       
        height: 300px;
        margin: 60px;
        
        
        
}
#imagen{
    float: left;
    margin: 20px;
}
h2{
    color: red;
    margin: 60px;
    position: left;
}
p{
    margin: 10px;
  
    line-height: 30px;
    width: 650px;
    border-width: 500px;
}

#sidebar{
     float: right;
      width: 210px;
     padding: 0 15px 20px 15px;
}

button{
       background-color: lightseagreen;
       color: white;
       padding: 10px;
       
}